.statussnackbar {
  &.success {
    background: green;
  }

  &.error {
    background: darkred;
  }

  &-message {
    display: flex;
    align-items: center;
    
    &-icon {
      font-size: 20;
    }
  }
}